@page "/categories"
@using Kvota.Constants
@inject IServiceScopeFactory serviceScopeFactory
@using Kvota.Components.CategoryDrawer

<div class="catalog__body">
        <div class="catalog__grands">
        @if (Categories != null)
        {
            @foreach (var items in Categories.OrderBy(o=>o.Name))
            {
                <div class="catalog__grand grand kvota__body-shadow">
                    <div class="grand__image-body"><img class="grand__image" src="@items.Image"/></div>
                    <div class="grand__body">
                        @if (items.Children == null || !items.Children.Any())
                        {<a class="grand__title" href="@GroupNames.GroupCategory/@items.Name/@items.Id">@items.Name</a>}
                        else{<div class="grand__title">@items.Name</div>}
                        
                        <div class="grand__category category-grand">

                            <div class="category-grand__body">
                                @*<a class="category-grand__link" href="@GroupNames.GroupCategory/@item.Name/@item.Id">@item.Name</a>*@
                                <MudList Style="" Clickable="true" @bind-SelectedItem="_selectedItem" @bind-SelectedValue="SelectedValue" Color="Color.Primary">
                                    @if (items.Children != null)
                                    {
                                        foreach (var category in items.Children.OrderBy(o => o.Name))
                                        {
                                            <CategoriesListReqursion Category="@category"
                                                                     RefreshCategoryListCallback="GetCategories"
                                                                     ChangeValue="ChangeValue"/>
                                        }
                                    }
                                </MudList>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
 

</div>





