@page "/productlists/{id:guid}"
@inject IServiceScopeFactory ServiceScopeFactory
@inject IWebHostEnvironment env
@using FileInfo = System.IO.FileInfo
@if (Product != null)
{
    <div class="product-card">
        
        <div >
            
        </div>
        <div class="product-card__body">
            <div class="slider">
                
                    @if (Directory.Exists(_directoryPath))
                    {

                            @foreach (var file in Directory.GetFiles(_directoryPath!))
                            {
                                var fileInfo = new FileInfo(file).Name;
                                <div class="slider_item">
                                        
                                       
                                            <img  src="@Product.Image\\@fileInfo" />
                                      
                                </div>
                            }

                    }
                
            </div>

            <div>
                <h1 class="product-card__name">@Product.Name</h1>
                @if (Product.Brand != null)
                {
                    <p class="product-card__brand product__text">Производитель: @Product.Brand!.Name</p>
                }
                <p class="product-card__pnumber product__text">Артикул: @Product.PartNumber</p>
                <p style="font-weight: bold">Описание:</p>
                @if (Product.Description != null)
                {
                    <p class="product-card__description product__text">@Product.Description</p>
                }
            </div>

        </div>

        <div class="product-card__options">

            @if (Product.ProductOption != null)
            {
                foreach (var option in Product.ProductOption)
                {
                    <span class="product-card__option">@option.CategoryOption!.Name @option.Value @option.CategoryOption.Measure</span>
                }
            }
        </div>
       @* <div class="product__prices">
            @if (Product.Quantity != null)
            {
                <div class="product-card__quantity product__text">Кол.-во: @Product.Quantity шт.</div>
            }
            @if (Product.Price != null)
            {
                <span class="product-card__price ">@Product.Price р.</span>
            }
            @if (Product.SalePrice != null)
            {
                <span class="product-card__sale ">@Product.SalePrice р.</span>
            }
            <span class="product-card__feetback ">feeeet</span>
        </div>*@

    </div>
}
<style>
    .slider {
        overflow: hidden;
    }

    /* Ограничивающая оболочка */
    .slick-list {
        overflow: hidden;
        max-width: 900px;
    }
    /* Лента слайдов */
    .slick-track {
        display: flex;
    }

    .slider_item {
        height: 70px;
        text-align: center;
    }
</style>