@using Kvota.Pages.Products
@using Kvota.Interfaces
@using Kvota.Models.Content
@inject IRepo<ContactsModel> ContactService
<div class="productlist__products">

    @if (ProductList != null)
    {
        
        @foreach (var items in ProductList)
        {
            <div class="productlist__product product">
@*                <div >
                    <img class="product__image"src="@items.Image">
                </div>*@
                <div class="product__body">
                    <a class="product__name product__text" @onclick="@(e => GetModalUpdate(items.Id, items.Name))">@items.Name</a>
                    <span class="product__pnumber product__text">№.: @items.PartNumber</span>
                    @if (items.Brand != null)
                    {
                        <span class="product__brand product__text">@items.Brand!.Name</span>
                    }
                </div>
<div class="product__prices">
    <div>
    @if (items.SalePrice != null)
    {
        <span class="product__sale ">@items.SalePrice р.</span>
    }
    @if (items.Price != null)
    {
        <span class="product__price ">@items.Price р.</span>
    }
                    </div>
    <div class="product__feetback ">
        <Dropdown OnShowing="OnDropdownShowingAsync">
            <DropdownToggleButton Color="ButtonColor.Secondary">Уточнить наличие и цену</DropdownToggleButton>
            <DropdownMenu>
                @if (Contacts != null)
                {
                    <DropdownItem Type="ButtonType.Link">
                        <a href="tel:@Contacts.PhoneOne" target="_blank">
                            <i class="bi bi-telephone" style="font-size: 1.5rem; margin-right: 1rem"></i>@Contacts.PhoneOne
                        </a>
                    </DropdownItem>
                    <DropdownItem Type="ButtonType.Link">
                        <a href="mailto:@Contacts.EmailOne">
                            <i class="bi bi-envelope-at" style="font-size: 1.5rem; margin-right: 1rem"></i>@Contacts.EmailOne
                        </a>
                    </DropdownItem>
                }
            </DropdownMenu>
        </Dropdown>
    </div>
</div>
                
            </div>


            
        }
    }
    <div class="product__modal">
        <Modal ShowCloseButton="false" 
               Size="ModalSize.ExtraLarge" 
               @ref="_modalProductCard">
            <BodyTemplate>
                <Button class="product-modal__closeBtn closeBtn" @onclick="OnHideModalClick">
                    <i style=" background: rgba(255, 255, 255, 0.5);" class="bi bi-x-lg"></i>
                </Button>
                <ProductCard Id="@IdCurrent"/>

            </BodyTemplate>


        </Modal>
    </div>
</div>
<style>
    .product-modal__closeBtn {
        top: 0rem;
        right: 0.5rem;
        position: absolute;
        font-size: 3rem;
        padding: 0;
    }
    .product-modal__closeBtn:active {
        transform: scale(0.8);
    }
    .product-modal__btn {
        background-color: rgba(178, 34, 34, 0.8);
        font-size: 1rem;
    }
</style>
