@page "/admin/product/edit/{id:guid}"
@attribute [Authorize(Roles = "Administrators")]
@using Kvota.Models.Products
@using Kvota.Interfaces
@inject IRepo<Product> ProductRepo
@inject IRepo<GrandCategory> GrandCategoryRepo
@inject IRepo<Brand> BrandRepo
<div class="row">
    <div class="col-lg-3 text-right">
        <a class="btn btn-secondary btn-sm" href="/admin/product" role="button">Вернуться назад</a>
    </div>
</div>

@if (Product != null)
{
   
    <EditForm Model="@Product" OnValidSubmit="@SubmitProduct">
        <div class="form-group">
            <label>Part No</label>
            <InputText class="form-control" @bind-Value="Product.PartNumber" />
        </div>
        <div class="form-group">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="Product.Name" />
        </div>
        <div class="form-group">
            <label>Производитель</label>
            <InputSelect @bind-Value="Product.BrandId" class="form-control">
                <option value=""></option>
                @if (BrandList != null)
                {
                    @foreach (var brand in BrandList)
                    {
                        <option value="@brand.Id">@brand.Name</option>
                    }
                }
            </InputSelect>

        </div>
        <div class="form-group">
            <label>Категория</label>
            <select class="form-control" @bind="Product.CategoryId">
                <option value=@Product.CategoryId>@if (Product.Category != null){@Product.Category.Name}</option>
                @if (GrandCategoryList != null)
                {
                    foreach (var grandCategory in GrandCategoryList)
                    {
                        <optgroup label="@grandCategory.Name">
                            @if (grandCategory.Categories != null)
                            {
                                foreach (var item in grandCategory.Categories)
                                {
                                    if (item != null)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            }
                        </optgroup>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label>Описание</label>
            <InputTextArea class="form-control" @bind-Value="Product.Description" />
        </div>
        <div class="form-group">
            <label>Цена</label>
            <InputNumber class="form-control" @bind-Value="Product.Price" />
        </div>
        <div class="form-group">
            <label>Скидка %</label>
            <InputNumber class="form-control" @bind-Value="Product.SalePrice" />
        </div>
        <div class="form-group">
            <label>Склад 1</label>
            <InputNumber class="form-control" @bind-Value="Product.Quantity" />
        </div>
        <div class="form-group">
            <label>Склад 2</label>
            <InputNumber class="form-control" @bind-Value="Product.QuantityTwo" />
        </div>
        <div class="form-group">
            <label>Cрок поставки (дней)</label>
            <InputNumber class="form-control" @bind-Value="Product.DayToDelivery" />
        </div>
        <FileUploads MyDirectory="products" Name="@Product.Id.ToString()" OnClickCallback="AddImagePatch"></FileUploads> <br />
        
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </EditForm>
 

}
